<header style="view-transition-name: main-nav;" class="fade-up"></header>

<div style="view-transition-name: main-title;" class="flex flex-col items-center justify-center text-center mb-10 select-none">
  <h1 class="mb-4 text-5xl font-extrabold leading-none tracking-tight text-gray-900 md:text-6xl lg:text-6xl dark:text-white">World´s <span class="underline underline-offset-3 decoration-8 decoration-blue-400 dark:decoration-blue-600">best</span> players</h1>
</div>

<div class="pb-4 flex flex-col items-center">
  <div *ngFor="let jugador of jugadores" (click)="navigateToPhoto(jugador.id)"
    class="player-background cursor-pointer w-full max-w-lg mb-10 border border-gray-200 rounded-3xl shadow-lg dark:bg-gray-800 dark:border-gray-700 hover:scale-95 transform transition duration-300"
    [ngStyle]="{'view-transition-name': 'playlist-background-' + jugador.id}">
    <div class="relative">
      <a class="flex flex-col items-center select-none">
        <img
          class="mt-8 rounded-t-3xl"
          [src]="jugador.src"
          alt="{{jugador.nombre}}"
          [ngStyle]="{'view-transition-name': 'jugador-' + jugador.id}"
        />
      </a>
    </div>

    <div class="bg-white px-5 py-5 border-t-2 rounded-b-3xl">
      <a [ngStyle]="{'view-transition-name': 'nombre-' + jugador.id}" >
        <h5 class="text-3xl text-center font-semibold tracking-tight text-gray-900 dark:text-white">{{jugador.nombre}}</h5>
      </a>
      <!-- <div class="flex items-center justify-center mt-5 mb-5">
        <span class="text-xl ml-5 text-gray-900 dark:text-white" [innerHTML]="jugador.bandera"></span>
        <span class="text-xl ml-5 text-gray-900 dark:text-white">{{jugador.nacimiento}}</span>
      </div> -->
      <div class="flex items-center justify-center mt-3 mb-3">
        <span [ngStyle]="{'view-transition-name': 'puntos-' + jugador.id}" class="text-xl text-gray-900 dark:text-white">{{jugador.puntos}}</span>
      </div>
    </div>
  </div>
</div>
